<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>addTask</title>
</head>
<body>

<div class="container" th:object="${newTask}">
    <h1 style="centre" >Add Task</h1>
    <form  th:method="POST">
        <table class="table table-hover">
        <tr>
            <th scope="row">Category: </th>

            <td>
                <select class="form-select" aria-label="Default select example" th:field="*{task_Type}" required>
                    <option value="" selected disabled>-- Select category --</option>
                    <option th:each="tasktype : ${taskType}" th:text="${tasktype.typeTask}" th:value="${tasktype.id_type}">
                        Non
                    </option>
                </select>
            </td>

        </tr>


        <tr>
            <th scope="row">Title: </th>

            <td>
                <textarea cols="50" rows="4" th:field="*{title}" required></textarea>
            </td>
        </tr>

            <tr>
                <th scope="row">Description: </th>
                <td>
                    <textarea cols="50" rows="4" th:field="*{description}" required></textarea>
                </td>
            </tr>

        </table>
        <button type="submit" class="btn btn-success" >Submit</button>
    </form>
        <button type="button" class="btn btn-secondary" onclick="history.back();">Back</button>

</div>
</body>
</html>