<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Complete task</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#" th:href="@{/TodoList}">All Active Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" th:href="@{/TodoList/completed}">Completed task</a>
        </li>
        <li class="nav-item" th:each="type : ${types}">
            <a class="nav-link" href="#" th:href="@{'/TodoList/{typeTask}'(typeTask=${type.typeTask})}"  th:text="*{type.typeTask}"></a>
        </li>
        <li>
            <a class="nav-link" href="#" th:href="@{/TodoList/new_type}" >+</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/TodoList/category}">-</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/logout}">Log out</a>
        </li>
    </ul>

</nav>
<div class="row-2">
    <h1 align="center">Completed</h1>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        </thead>
        <tbody th:each="task : ${doneTask}">
        <tr>
            <td th:text="${task.getTitle()}"></td>
            <td th:text="${task.getTask_Type().getTypeTask()}"></td>
            <td th:text="${task.getDescription()}"></td>

        </tr>
        </tbody>
    </table>

    </div>
</div>
</body>
</html>