<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <link  rel="stylesheet"
           href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
           integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
           crossorigin="anonymous">

    <title>Hello</title>
</head>
<body>

<div class="container">
    <div align="center" class="buttons" >
        <div class="h-100 row align-items-center">
        <div class="col-6 p-4">
            <p> <input type="button" class="btn btn-outline-info btn-lg btn-block "
                       value="LOGIN" onclick="location.href='login'"></p>
        </div>



        <div class="col-6 p-4">
            <p><input type="button" class="btn btn-outline-info btn-lg btn-block"
                  value="REGISTRATION" onclick="location.href='register'" ></p>
        </div>
        </div>
    </div>
</div>
</body>
</html>