<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h1 align="center">Registration</h1>

<form name="form" action="#"   th:object="${user}" align="center" th:method="POST" id="add_user_form" >

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Username: </label>
        <div class="col-sm-6 col-form-label">
            <input class="form-control" type="text" th:field="*{username}" required>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
            </div>
        </div>
    </div>
    <div class="form-group row" >
        <label class="col-sm-4 col-form-label">Password:</label>
        <div class="col-sm-6 col-form-label">
        <input class="form-control" type="password" th:field="*{password}"  required/>
    </div>
    </div>

    <input type="submit" class="btn btn-success" value="SAVE" onclick="index" />
    <input type="button" class="btn btn-secondary" value="BACK" onClick="history.back();"/>
</form>

</body>
</html>

